body {background-color: red;
color:#003300;
font-size: 20px:
}

h1 {

    font-size: 20px;
    color:bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}